openapi: 3.1.0
info:
  title: Corridor Dashboard Findings API
  version: '1.0'
  summary: Programmatic access to Corridor findings, guardrails, PR reviews, team settings, and dashboard data.
  description: 'Corridor exposes a REST API for integrating its AI-coding security platform with CI/CD pipelines, custom dashboards, and other tools. All endpoints are authenticated with API tokens (the `cor_` prefix) passed as an `Authorization: Bearer` header. API tokens carry the same access as the user who created them and cannot perform admin operations (those require a user session). This specification was faithfully generated by the API Evangelist enrichment pipeline from Corridor''s published API reference; it is not a verbatim provider-published machine-readable spec.'
  contact:
    name: Corridor Support
    email: support@corridor.dev
    url: https://docs.corridor.dev/api/reference
  x-apievangelist-generated: '2026-07-18'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.corridor.dev/api/reference
servers:
- url: https://app.corridor.dev/api
  description: Corridor production API
security:
- bearerAuth: []
tags:
- name: Findings
  description: Retrieve and manage security findings across projects.
paths:
  /findings/search:
    get:
      operationId: searchFindings
      tags:
      - Findings
      summary: Search findings
      parameters:
      - name: teamId
        in: query
        required: true
        schema:
          type: string
        description: Team ID to search within.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Search term (matches title
        file path: null
        or CWE).: null
      - name: state
        in: query
        required: false
        schema:
          type: string
          enum:
          - open
          - closed
          - potential
      - name: createdAfter
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: createdBefore
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          maximum: 50
        description: Max results (default 10
        max 50).: null
      responses:
        '200':
          description: Matching findings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Finding'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /findings/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getFinding
      tags:
      - Findings
      summary: Get finding
      description: Returns the full finding with related project, rule, scan, and PR review data.
      responses:
        '200':
          description: The finding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Finding'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateFinding
      tags:
      - Findings
      summary: Update finding
      description: All fields are optional; include only the fields you want to update.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FindingUpdate'
      responses:
        '200':
          description: The updated finding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Finding'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteFinding
      tags:
      - Findings
      summary: Delete finding
      responses:
        '200':
          description: Finding deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Unauthorized — invalid or missing token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Too many requests — the API token is rate limited; wait before retrying.
    BadRequest:
      description: Bad request — check your parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Finding:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        affectedFile:
          type: string
        cwe:
          type: string
          description: CWE identifier
          e.g. CWE-89: null
        severity:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
        state:
          type: string
          enum:
          - open
          - closed
          - potential
        createdAt:
          type: string
          format: date-time
        projectId:
          type: string
        projectName:
          type: string
    FindingUpdate:
      type: object
      properties:
        state:
          type: string
          enum:
          - open
          - closed
        closedReason:
          type: string
        closedReasonCategory:
          type: string
          enum:
          - false_positive
          - risk_accepted
          - vulnerability_fixed
          - other
        severity:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
        title:
          type: string
        description:
          type: string
        cwe:
          type: string
        affectedFile:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
          description: Description of what went wrong.
      required:
      - error
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token with the `cor_` prefix, generated from Profile > API Tokens in the Corridor dashboard. Passed as `Authorization: Bearer cor_...`.'
