openapi: 3.2.0
info:
  title: Corridor Projects API
  version: '1.0'
  summary: Programmatic access to Corridor findings, guardrails, PR reviews, team settings, and dashboard data.
  description: Corridor exposes a REST API for integrating its AI-coding security platform with CI/CD pipelines, custom dashboards, and other tools.
  contact:
    name: Corridor Support
    email: support@corridor.dev
    url: https://docs.corridor.dev/api/reference
  x-apievangelist-generated: '2026-07-18'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.corridor.dev/api/reference
servers:
- url: https://app.corridor.dev/api
  description: Corridor production API
security:
- bearerAuth: []
tags:
- name: Projects
  description: List and inspect projects (connected repositories).
paths:
  /projects:
    get:
      operationId: listProjects
      tags:
      - Projects
      summary: List projects
      parameters:
      - name: teamId
        in: query
        required: true
        schema:
          type: string
        description: Team ID to list projects for.
      responses:
        '200':
          description: Projects for the team.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Project ID.
    get:
      operationId: getProject
      tags:
      - Projects
      summary: Get project
      responses:
        '200':
          description: The project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{id}/findings:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Project ID.
    get:
      operationId: getProjectFindings
      tags:
      - Projects
      summary: Get project findings
      description: Returns all findings for a specific project.
      responses:
        '200':
          description: Project findings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Finding'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Finding:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        affectedFile:
          type: string
        cwe:
          type: string
          description: CWE identifier
          e.g. CWE-89: null
        severity:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
        state:
          type: string
          enum:
          - open
          - closed
          - potential
        createdAt:
          type: string
          format: date-time
        projectId:
          type: string
        projectName:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
          description: Description of what went wrong.
      required:
      - error
  responses:
    Unauthorized:
      description: Unauthorized — invalid or missing token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token with the `cor_` prefix, generated from Profile > API Tokens in the Corridor dashboard. Passed as `Authorization: Bearer cor_...`.'
