openapi: 3.1.0
info:
  title: Corridor API
  version: '1.0'
  summary: Programmatic access to Corridor findings, guardrails, PR reviews, team settings, and dashboard data.
  description: >-
    Corridor exposes a REST API for integrating its AI-coding security platform
    with CI/CD pipelines, custom dashboards, and other tools. All endpoints are
    authenticated with API tokens (the `cor_` prefix) passed as an
    `Authorization: Bearer` header. API tokens carry the same access as the user
    who created them and cannot perform admin operations (those require a user
    session). This specification was faithfully generated by the API Evangelist
    enrichment pipeline from Corridor's published API reference; it is not a
    verbatim provider-published machine-readable spec.
  contact:
    name: Corridor Support
    email: support@corridor.dev
    url: https://docs.corridor.dev/api/reference
  x-apievangelist-generated: '2026-07-18'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.corridor.dev/api/reference
servers:
  - url: https://app.corridor.dev/api
    description: Corridor production API
tags:
  - name: Findings
    description: Retrieve and manage security findings across projects.
  - name: Guardrails
    description: Manage per-project security guardrails (reports) and packs.
  - name: PR Reviews
    description: Access pull request review results and AI analysis.
  - name: Teams
    description: Manage team configuration, members, and permissions.
  - name: Dashboard
    description: Access dashboard metrics and AI usage data.
  - name: Projects
    description: List and inspect projects (connected repositories).
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API token with the `cor_` prefix, generated from Profile > API Tokens in
        the Corridor dashboard. Passed as `Authorization: Bearer cor_...`.
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Description of what went wrong.
      required: [error]
    Finding:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        affectedFile: { type: string }
        cwe: { type: string, description: CWE identifier, e.g. CWE-89 }
        severity: { type: string, enum: [critical, high, medium, low] }
        state: { type: string, enum: [open, closed, potential] }
        createdAt: { type: string, format: date-time }
        projectId: { type: string }
        projectName: { type: string }
    FindingUpdate:
      type: object
      properties:
        state: { type: string, enum: [open, closed] }
        closedReason: { type: string }
        closedReasonCategory:
          type: string
          enum: [false_positive, risk_accepted, vulnerability_fixed, other]
        severity: { type: string, enum: [critical, high, medium, low] }
        title: { type: string }
        description: { type: string }
        cwe: { type: string }
        affectedFile: { type: string }
    Guardrail:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        guardrail: { type: string, description: The guardrail rule text. }
        type: { type: string, enum: [guardrail, context], default: guardrail }
        createdAt: { type: string, format: date-time }
    GuardrailCreate:
      type: object
      required: [name, guardrail]
      properties:
        name: { type: string }
        guardrail: { type: string }
        type: { type: string, enum: [guardrail, context], default: guardrail }
    PrReview:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        severity: { type: string, enum: [critical, high, medium, low] }
        state: { type: string, enum: [open, closed, potential] }
        affectedFile: { type: string }
        createdAt: { type: string, format: date-time }
        cwe: { type: string }
        github_pr_id: { type: integer }
        publish_status: { type: string, enum: [SUCCEEDED, SKIPPED] }
    Pagination:
      type: object
      properties:
        page: { type: integer }
        limit: { type: integer }
        total: { type: integer }
        totalPages: { type: integer }
        hasNext: { type: boolean }
        hasPrev: { type: boolean }
    Team:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
    Project:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
  responses:
    Unauthorized:
      description: Unauthorized — invalid or missing token.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Forbidden — insufficient permissions.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Bad request — check your parameters.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Too many requests — the API token is rate limited; wait before retrying.
    ServerError:
      description: Server error.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
security:
  - bearerAuth: []
paths:
  /findings/search:
    get:
      operationId: searchFindings
      tags: [Findings]
      summary: Search findings
      parameters:
        - { name: teamId, in: query, required: true, schema: { type: string }, description: Team ID to search within. }
        - { name: search, in: query, required: false, schema: { type: string }, description: Search term (matches title, file path, or CWE). }
        - { name: state, in: query, required: false, schema: { type: string, enum: [open, closed, potential] } }
        - { name: createdAfter, in: query, required: false, schema: { type: string, format: date-time } }
        - { name: createdBefore, in: query, required: false, schema: { type: string, format: date-time } }
        - { name: limit, in: query, required: false, schema: { type: integer, default: 10, maximum: 50 }, description: Max results (default 10, max 50). }
      responses:
        '200':
          description: Matching findings.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Finding' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /findings/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      operationId: getFinding
      tags: [Findings]
      summary: Get finding
      description: Returns the full finding with related project, rule, scan, and PR review data.
      responses:
        '200':
          description: The finding.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Finding' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      operationId: updateFinding
      tags: [Findings]
      summary: Update finding
      description: All fields are optional; include only the fields you want to update.
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FindingUpdate' }
      responses:
        '200':
          description: The updated finding.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Finding' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteFinding
      tags: [Findings]
      summary: Delete finding
      responses:
        '200': { description: Finding deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /projects/{id}/reports:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Project ID. }
    get:
      operationId: listGuardrails
      tags: [Guardrails]
      summary: List guardrails for a project
      description: Returns all guardrails (reports) and rulesets attached to a project.
      responses:
        '200':
          description: Guardrails and rulesets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reports:
                    type: array
                    items: { $ref: '#/components/schemas/Guardrail' }
                  ruleset:
                    type: array
                    items: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: createGuardrail
      tags: [Guardrails]
      summary: Create a guardrail
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GuardrailCreate' }
      responses:
        '200':
          description: The created guardrail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Guardrail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /projects/{id}/guardrails/generate:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Project ID. }
    post:
      operationId: generateGuardrail
      tags: [Guardrails]
      summary: Generate a guardrail with AI
      description: Returns a taskId you can use to track generation progress.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [description]
              properties:
                description:
                  type: string
                  maxLength: 1000
                  description: Plain-language description of the guardrail.
      responses:
        '200':
          description: Generation task accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  taskId: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /projects/{id}/reports/{reportId}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Project ID. }
      - { name: reportId, in: path, required: true, schema: { type: string }, description: Guardrail report ID. }
    put:
      operationId: updateGuardrail
      tags: [Guardrails]
      summary: Update a guardrail
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                guardrail: { type: string }
                type: { type: string, enum: [guardrail, context] }
      responses:
        '200':
          description: The updated guardrail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Guardrail' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteGuardrail
      tags: [Guardrails]
      summary: Delete a guardrail
      responses:
        '200': { description: Guardrail deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /projects/{id}/packs:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Project ID. }
    get:
      operationId: listGuardrailPacks
      tags: [Guardrails]
      summary: List guardrail packs
      description: Returns the security packs (curated guardrail collections) attached to a project.
      responses:
        '200':
          description: Guardrail packs.
          content:
            application/json:
              schema: { type: array, items: { type: object } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /teams/{id}/pr-reviews:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Team ID. }
    get:
      operationId: listPrReviews
      tags: [PR Reviews]
      summary: List PR reviews
      parameters:
        - { name: limit, in: query, required: false, schema: { type: integer } }
        - { name: offset, in: query, required: false, schema: { type: integer } }
        - { name: type, in: query, required: false, schema: { type: string }, description: Filter by review type. }
        - { name: sortBy, in: query, required: false, schema: { type: string } }
        - { name: sortOrder, in: query, required: false, schema: { type: string, enum: [ASC, DESC] } }
      responses:
        '200':
          description: PR reviews with pagination.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/PrReview' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teams/{id}/pr-reviews/{prReviewId}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Team ID. }
      - { name: prReviewId, in: path, required: true, schema: { type: string } }
    get:
      operationId: getPrReview
      tags: [PR Reviews]
      summary: Get PR review
      description: Returns the full PR review including comments, findings, and metadata.
      responses:
        '200':
          description: The PR review.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PrReview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /teams/{id}/pr-reviews/by-pr:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Team ID. }
    get:
      operationId: getPrReviewByNumber
      tags: [PR Reviews]
      summary: Get PR review by PR number
      description: >-
        Look up PR reviews by pull request number and repository name. The
        response body includes a `status` field on non-success outcomes
        (`in_progress`, `repo_not_found`, `pr_review_not_found`) so callers can
        branch without parsing error strings.
      parameters:
        - { name: prNumber, in: query, required: true, schema: { type: integer }, description: The pull request / merge request number. }
        - { name: repoName, in: query, required: true, schema: { type: string }, description: Repository name. }
        - { name: fullHistory, in: query, required: false, schema: { type: boolean }, description: When true, returns all complete reviews for the PR. }
      responses:
        '200':
          description: 'The most recent review, a `{ reviews, total }` set, or a `{ status: in_progress }` body.'
        '404':
          description: repo_not_found or pr_review_not_found.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teams/{id}/pr-review-findings:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Team ID. }
    get:
      operationId: listPrReviewFindings
      tags: [PR Reviews]
      summary: List PR review findings
      parameters:
        - { name: prReviewId, in: query, required: false, schema: { type: string }, description: Filter by specific PR review. }
        - { name: limit, in: query, required: false, schema: { type: integer } }
        - { name: offset, in: query, required: false, schema: { type: integer } }
      responses:
        '200':
          description: PR review findings.
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teams:
    get:
      operationId: listTeams
      tags: [Teams]
      summary: List teams
      description: Returns all teams the authenticated user belongs to.
      responses:
        '200':
          description: Teams.
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/Team' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teams/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Team ID. }
    get:
      operationId: getTeam
      tags: [Teams]
      summary: Get team
      responses:
        '200':
          description: The team.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Team' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /teams/{id}/permissions:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Team ID. }
    get:
      operationId: getTeamPermissions
      tags: [Teams]
      summary: Get team permissions
      description: Returns the current user's role and permissions for the team.
      responses:
        '200': { description: Role and permissions. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teams/{id}/invite:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Team ID. }
    post:
      operationId: inviteUser
      tags: [Teams]
      summary: Invite a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                role: { type: string, enum: [admin, member, ideUser], default: ideUser }
      responses:
        '200': { description: Invitation sent. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /teams/{teamId}/users/{userId}:
    parameters:
      - { name: teamId, in: path, required: true, schema: { type: string } }
      - { name: userId, in: path, required: true, schema: { type: string } }
    delete:
      operationId: removeUser
      tags: [Teams]
      summary: Remove a user
      responses:
        '200': { description: User removed. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /teams/{id}/dashboard-data:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Team ID. }
    get:
      operationId: getDashboardData
      tags: [Dashboard]
      summary: Get dashboard data
      description: Returns aggregated security metrics including findings by severity, trends over time, and top projects.
      responses:
        '200': { description: Dashboard metrics. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teams/{id}/list-requests:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Team ID. }
    get:
      operationId: listLlmRequests
      tags: [Dashboard]
      summary: List LLM requests
      description: Returns a summary of AI/LLM requests made across the team, useful for tracking AI usage and compliance.
      responses:
        '200': { description: LLM request summary. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teams/{id}/guardrail-invocations-staging:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Team ID. }
    get:
      operationId: getGuardrailInvocations
      tags: [Dashboard]
      summary: Get guardrail invocations
      description: Returns data on which guardrails were triggered during real-time code analysis (hook events and security checks).
      parameters:
        - { name: reportId, in: query, required: true, schema: { type: string }, description: Guardrail report ID. }
        - { name: period, in: query, required: false, schema: { type: string, default: 7d } }
        - { name: projectId, in: query, required: false, schema: { type: string } }
        - { name: limit, in: query, required: false, schema: { type: integer, default: 15 } }
        - { name: offset, in: query, required: false, schema: { type: integer } }
      responses:
        '200': { description: Guardrail invocations. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teams/{id}/stop-hook-invocations:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Team ID. }
    get:
      operationId: getStopHookInvocations
      tags: [Dashboard]
      summary: Get stop hook invocations
      description: Returns instances where Corridor's hooks blocked an action (e.g., prevented an insecure code pattern from being applied).
      responses:
        '200': { description: Stop hook invocations. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /log:
    post:
      operationId: logExtensionData
      tags: [Dashboard]
      summary: Log extension data
      description: >-
        The primary endpoint used by IDE extensions to send code analysis data
        to Corridor. The `type` field determines processing (`hook-event`,
        `async-security-check`, `fetch-security-results`, `mcp-detection`,
        `compliance-data`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type:
                  type: string
                  enum: [hook-event, async-security-check, fetch-security-results, mcp-detection, compliance-data]
      responses:
        '200': { description: Logged. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /projects:
    get:
      operationId: listProjects
      tags: [Projects]
      summary: List projects
      parameters:
        - { name: teamId, in: query, required: true, schema: { type: string }, description: Team ID to list projects for. }
      responses:
        '200':
          description: Projects for the team.
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/Project' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /projects/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Project ID. }
    get:
      operationId: getProject
      tags: [Projects]
      summary: Get project
      responses:
        '200':
          description: The project.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /projects/{id}/findings:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Project ID. }
    get:
      operationId: getProjectFindings
      tags: [Projects]
      summary: Get project findings
      description: Returns all findings for a specific project.
      responses:
        '200':
          description: Project findings.
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/Finding' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
